<%= form_for object do |f| %>
        <p><%= f.label :body %>:</p>
        <p><%= f.text_field :body %></p>
        <p><%= f.label :author %> </p>
        <p><%= f.text_field :author %> </p>
        <p><%= f.submit %></p>
      <% end %>
